* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.redbox{
    color: lightgreen;
    background-color: red;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    border: 3px solid black;
    
}
.greenbox{
    color: yellow;
    background-color: green;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
}
.yellowbox{
    color: blue;
    background-color: yellow;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 30px;
    border: 3px solid black;
}
.bluebox{
    color: yellow;
    background-color: blue;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 40px;
    border: 3px solid black;
}
.orange{
    color: white;
    background-color: orange;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 50px;
    border: 3px solid black;
}
.grey{
    color: black;
    background-color: grey;   
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 60px;
    border: 3px solid black;
}
.white{
    color: black;
    background-color: white;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 70px;
    border: 3px solid black;
}
.black{
    color: white;
    background-color: black;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 80px;
    border: 3px solid red;
}
